@charset "UTF-8";
* {
    margin: 0px;
}

header {
    background-color: gray;
    height: 150px;
    
}
#vivacor {
    background-color: white;
    font-size: 2em;
    text-align: right;
    margin-top: -50px;
    height: 100px;
    
}